* {
    box-sizing: border-box;
    position: absolute;
}

.static * {
    position: static;
}

body {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    cursor: none;
}

#content {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Celestia Redux', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    #content #background {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #004;
    }

    #content #r1-contestants {
        text-align: center;
        transition: opacity linear .3s, transform linear .3s;
    }

        #content #r1-contestants.out {
            opacity: 0;
            transform: scale(2);
        }

        #content #r1-contestants .contestant {
            background: hsl(40, 90%, 50%);
            border-radius: 100%;
            width: 1.2em;
            height: 1.2em;
            position: relative;
            margin: .25em .5em;
            display: inline-block;
            transition: opacity linear .2s, transform cubic-bezier(0, .8, .5, 1.5) .3s;
            opacity: 0;
            transform: scale(.1);
        }

            #content #r1-contestants .contestant.in {
                opacity: 1;
                transform: scale(1);
            }

            #content #r1-contestants .contestant::before {
                content: '';
                position: absolute;
                top: -.2em;
                bottom: -.2em;
                left: -.2em;
                right: -.2em;
                border: .1em solid transparent;
                border-radius: 100%;
            }

            #content #r1-contestants .contestant.correct::before {
                border-top: .1em solid hsl(110, 100%, 50%);
            }

            #content #r1-contestants .contestant.wrong::before {
                border-bottom: .1em solid hsl(350, 100%, 50%);
            }

            #content #r1-contestants .contestant::after {
                content: attr(data-num);
                position: absolute;
                font-size: 70%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-shadow: .1em .1em .2em rgba(0, 0, 0, .3);
            }

    #content #r1-contestant-name {
        top: 5vw;
        left: -100vw;
        width: 100vw;
        padding: 1vw 0 1vw 15vw;
        color: white;
        font-size: 15vh;
        text-shadow: .5vw .5vw .5vw rgba(0, 0, 0, .3);
        transition: left ease-out 1s;
    }

        #content #r1-contestant-name::before {
            content: '';
            position: absolute;
            top: 100%;
            height: .2vw;
            width: 100vw;
            left: 200vw;
            transition: left ease-out 1s;
            background: white;
            box-shadow: .2vw .2vw .1vw rgba(0,0,0,.3);
        }

        #content #r1-contestant-name.in {
            left: -10vw;
        }

            #content #r1-contestant-name.in::before {
                left: 0;
            }

        #content #r1-contestant-name .inner {
            display: inline-block;
            white-space: nowrap;
            transform-origin: 0 50%;
        }

        #content #r1-contestant-name.out, #content #r1-contestant-name.out::before {
            transition: left ease-out .3s, opacity linear .3s;
            opacity: 0;
        }

    #content #r1-contestant-roll {
        bottom: -11vw;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 10vh;
        transition: bottom ease-out .5s;
        transition-delay: .5s;
    }

        #content #r1-contestant-roll.in {
            bottom: 10vw;
        }

        #content #r1-contestant-roll.out {
            transition: bottom ease-in .2s;
            transition-delay: 0s;
        }

    #content #qa {
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
        transition: opacity linear .5s, transform ease-in .7s;
        padding: 5vw;
    }

        #content #qa .qa {
            padding: .5em 1em;
        }

            #content #qa .qa, #content #qa .qa .text {
                transition: opacity linear .2s, transform cubic-bezier(0, .8, .5, 1.5) .4s;
            }

                #content #qa .qa.question {
                    background: hsl(300, 100%, 25%);
                    box-shadow: inset .2em .2em 0 hsl(300, 100%, 40%);
                    margin: 0;
                    transform: scale(.1) rotate(-3deg);
                    opacity: 0;
                }

                    #content #qa .qa.question .decor {
                        position: absolute;
                        top: 0;
                        left: .2em;
                        color: hsl(300, 100%, 30%);
                    }

                    #content #qa .qa.question .text {
                        opacity: 0;
                        transform: scale(.1) rotate(10deg);
                        transition-delay: .2s;
                    }

                    #content #qa .qa.question.in {
                        opacity: 1;
                        transform: rotate(1deg);
                    }

                        #content #qa .qa.question.in .text {
                            opacity: 1;
                            transform: rotate(-2deg);
                        }

                #content #qa .qa.answer {
                    margin: 1em 10vw 0;
                    opacity: 0;
                    transform: scale(.1) rotate(3deg);
                }

                    #content #qa .qa.answer .decor {
                        position: absolute;
                        top: 0;
                        right: .2em;
                    }

                    #content #qa .qa.answer.correct {
                        background: hsl(120, 100%, 25%);
                        box-shadow: inset .2em .2em 0 hsl(120, 100%, 40%);
                    }

                        #content #qa .qa.answer.correct .decor {
                            color: hsl(120, 100%, 30%);
                        }

                    #content #qa .qa.answer.wrong {
                        background: hsl(0, 100%, 25%);
                        box-shadow: inset .2em .2em 0 hsl(0, 100%, 40%);
                    }

                        #content #qa .qa.answer.wrong .decor {
                            color: hsl(0, 100%, 30%);
                        }

                    #content #qa .qa.answer .text {
                        opacity: 0;
                        transform: scale(.1) rotate(-10deg);
                        transition-delay: .2s;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                    }

                        #content #qa .qa.answer .text li {
                            margin: .1em;
                            opacity: 0;
                            transform: scale(.1) rotate(30deg);
                            transition: opacity linear .2s, transform cubic-bezier(0, .8, .5, 1.5) .3s;
                        }

                    #content #qa .qa.answer.in .text li {
                        opacity: 1;
                        transform: none;
                    }

                    #content #qa .qa.answer .text li .inner {
                        display: inline-block;
                        padding: 0 1em .2em;
                        transform: rotate(1deg);
                    }

                    #content #qa .qa.answer .text li.sel > .inner {
                        border-radius: 100%;
                        background: rgba(255, 255, 0, .2);
                    }

                        #content #qa .qa.answer .text li.sel > .inner::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 1em;
                            bottom: .2em;
                            right: 1em;
                            border-radius: 100%;
                            background: rgba(0, 0, 0, .2);
                            transform: rotate(-3deg);
                        }

                    #content #qa .qa.answer .text li .inner .inner {
                        display: inline-block;
                        transform: rotate(-2deg);
                    }

                    #content #qa .qa.answer.in {
                        opacity: 1;
                        transform: rotate(-1deg);
                    }

                        #content #qa .qa.answer.in .text {
                            opacity: 1;
                            transform: rotate(2deg);
                        }

                #content #qa .qa .text {
                    text-align: center;
                    text-shadow: .07em .07em .07em rgba(0,0,0,.3);
                }

        #content #qa.out {
            opacity: 0;
            transform: scale(5);
        }
