* {
    box-sizing: border-box;
    position: absolute;
}

body {
    background: black;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: white;
}

#content {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    #content .welcome {
        font-size: 20vh;
        color: white;
        top: 30%;
        left: 50%;
        transform: translate(100vw, -50%);
        transition: transform ease-in 1s, opacity ease-in-out 1s;
    }

        #content .welcome.in {
            transform: translate(-50%,-50%);
        }

        #content .welcome.out {
            transform: translate(-50%,-50%) scale(.1);
            opacity: 0;
        }

    #content .contestants {
        top: 0;
        font-size: 10vh;
        line-height: 1em;
    }

        #content .contestants.left {
            left: 0;
            right: 50%;
        }

        #content .contestants.right {
            left: 50%;
            right: 0;
        }

        #content .contestants .contestant {
            border: 2px solid #ff6a00;
            border-radius: .7em;
            padding: .2em .1em;
            transition: left ease-out .7s, right ease-out .7s, background-color linear .5s, color linear .5s, transform ease-in-out .5s;
            width: 50vw;
            position: relative;
            margin: .5em 0;
        }

        #content .contestants.left .contestant {
            text-align: left;
            padding-left: 2.5em;
            left: -100vw;
            transform-origin: 10% 50%;
        }

            #content .contestants.left .contestant.in {
                left: -.7em;
            }

            #content .contestants.left .contestant .score {
                left: 1em;
            }

        #content .contestants.right .contestant {
            text-align: right;
            padding-right: 2.5em;
            right: -100vw;
            transform-origin: 90% 50%;
        }

            #content .contestants.right .contestant.in {
                right: -.7em;
            }

            #content .contestants.right .contestant .score {
                right: 1em;
            }

        #content .contestants .contestant .name {
            position: static;
            transform-origin: 0% 50%;
        }

            #content .contestants .contestant .name .inner {
                position: static;
                white-space: nowrap;
            }

        #content .contestants .contestant .score {
            top: 50%;
            transform: translate(0,-50%);
        }

        #content .contestants .contestant.selected {
            border: 2px solid white;
            background: #ff6a00;
            color: black;
            transform: scale(1.1, 1.1);
        }

    #content .qa {
        left: 0;
        right: 0;
        top: 50%;
        transform: translate(0,-50%);
        font-size: 7vh;
        font-weight: bold;
    }

        #content .qa .q-or-a {
            position: relative;
            transition: opacity linear .2s, transform cubic-bezier(0, .8, .5, 1.15) .3s, margin-top cubic-bezier(0, .8, .5, 1.15) .3s;
            opacity: 0;
            color: white;
            text-shadow: .1vh .1vh 1vh black;
            padding: 3vh 5vh;
            border-radius: 5vh;
            border: 2px solid white;
            box-shadow: .3vh .3vh 1vh black inset;
            text-align: center;
        }

            #content .qa .q-or-a.question {
                transform: translate(0, 100vh) scale(.1);
                background: #14a;
                margin: 0 10vw;
                z-index: 2;
            }

            #content .qa .q-or-a.answer {
                transform: translate(0, -100%) scale(.1);
                background: #388a0f;
                margin: 1.3em 20vw 0;
                z-index: 1;
                font-size: 90%;
            }

                #content .qa .q-or-a.answer.wrong {
                    background: #c01;
                }

            #content .qa .q-or-a .inner {
                position: static;
                transform: scale(.1);
                transition: transform cubic-bezier(0, .8, .5, 1.3) .4s;
                transition-delay: .2s;
            }

            #content .qa .q-or-a.in {
                opacity: 1;
                transform: none;
            }

        #content .qa .question.out {
            opacity: 0;
            transform: translate(-100%, 0);
        }

        #content .qa .answer.out {
            opacity: 0;
            transform: translate(100%, 0);
        }

        #content .qa .answer::after {
            content: '';
            position: absolute;
            left: 100%;
            top: 50%;
            font-size: 500%;
            transform: translate(-100%, -50%) scale(.1);
            opacity: 0;
            transition: opacity linear .2s, transform cubic-bezier(0, .8, .5, 1.15) .3s;
            transition-delay: .25s;
        }

        #content .qa .answer.in::after, #content .qa .answer.out::after {
            transform: translate(-25%, -50%);
            opacity: 1;
        }

        #content .qa .answer.correct::after {
            content: '✓';
        }

        #content .qa .answer.wrong::after {
            content: '✗';
        }
