@font-face {
    font-family: 'Trebuchet';
    src: url('/files/MyLittleQuiz/Esperanto/trebuc.ttf') format('truetype');
}

body {
    font-family: 'Trebuchet', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#content #background.setup {
    background-color: hsl(120, 100%, 15%);
}

#content #background.r1 {
    background-color: hsl(120, 100%, 10%);
}

#content #background.r2 {
    background-color: hsl(240, 100%, 8%);
}

#content #background.r3 {
    background-color: hsl(240, 100%, 4%);
}

#content #background.r4 {
    background-color: #000;
}

#content #derpy {
    background-image: url(/files/MyLittleQuiz/Esperanto/R1bg.svg);
}

#content .muffin1 {
    background-image: url(/files/MyLittleQuiz/Esperanto/R1a.svg);
}

#content .muffin2 {
    background-image: url(/files/MyLittleQuiz/Esperanto/R1b.svg);
}

#content .muffin3 {
    background-image: url(/files/MyLittleQuiz/Esperanto/R1c.svg);
}

#content #minuette {
    background-image: url(/files/MyLittleQuiz/Esperanto/R2a.svg);
}
    #content #minuette.in {
        left: -5vw;
    }

#content #roseluck {
    background-image: url(/files/MyLittleQuiz/Esperanto/R2b.svg);
}

#content #lyra {
    background-image: url(/files/MyLittleQuiz/Esperanto/R3a.svg);
}
    #content #lyra.in {
        left: -5vw !important;
    }

#content #bonbon {
    background-image: url(/files/MyLittleQuiz/Esperanto/R3b.svg);
}

#content #r4-contestants table td.correct {
    background-image: url(/files/MyLittleQuiz/Esperanto/R1b.svg);
}

#content #octavia {
    background-image: url(/files/MyLittleQuiz/Esperanto/R4.svg);
}

#content #trophy {
    background-image: url(/files/MyLittleQuiz/Esperanto/Trophy.png);
}

#content #logo::after {
    background-image: url(/files/MyLittleQuiz/Esperanto/Logo.png);
}
