* {
    box-sizing: border-box;
    position: absolute;
}

body {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    cursor: none;
}

.static * {
    position: static;
}

.full-flow {
    top: 0;
    left: 0;
    right: 0;
    padding: 5vh 5vw;
}

#content {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Celestia Redux', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    #content #background {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #content #r1-contestants {
        text-align: center;
        transition: opacity linear .3s, transform linear .3s;
    }

        #content #r1-contestants.out {
            opacity: 0;
            transform: scale(2);
        }

        #content #r1-contestants .contestant {
            background: hsl(40, 90%, 50%);
            border-radius: 100%;
            width: 1.2em;
            height: 1.2em;
            position: relative;
            margin: .25em .5em;
            display: inline-block;
            transition: opacity linear .2s, transform cubic-bezier(0, .8, .5, 1.5) .3s;
            opacity: 0;
            transform: scale(.1);
        }

            #content #r1-contestants .contestant.in {
                opacity: 1;
                transform: scale(1);
            }

            #content #r1-contestants .contestant::before {
                content: '';
                position: absolute;
                top: -.2em;
                bottom: -.2em;
                left: -.2em;
                right: -.2em;
                border: .1em solid transparent;
                border-radius: 100%;
            }

            #content #r1-contestants .contestant.correct::before {
                border-top: .1em solid hsl(110, 100%, 50%);
            }

            #content #r1-contestants .contestant.wrong::before {
                border-bottom: .1em solid hsl(350, 100%, 50%);
            }

            #content #r1-contestants .contestant::after {
                content: attr(data-num);
                position: absolute;
                font-size: 70%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-shadow: .1em .1em .2em rgba(0, 0, 0, .3);
            }

    #content #r1-contestant-name {
        top: 5vw;
        left: -100vw;
        width: 100vw;
        padding: 1vw 0 1vw 15vw;
        color: white;
        font-size: 15vh;
        text-shadow: .5vw .5vw .5vw rgba(0, 0, 0, .3);
        transition: left ease-out 1s;
    }

        #content #r1-contestant-name::before {
            content: '';
            position: absolute;
            top: 100%;
            height: .2vw;
            width: 100vw;
            left: 200vw;
            transition: left ease-out 1s;
            background: white;
            box-shadow: .2vw .2vw .1vw rgba(0,0,0,.3);
        }

        #content #r1-contestant-name.in {
            left: -10vw;
        }

            #content #r1-contestant-name.in::before {
                left: 0;
            }

        #content #r1-contestant-name .inner {
            display: inline-block;
            white-space: nowrap;
            transform-origin: 0 50%;
        }

        #content #r1-contestant-name.out, #content #r1-contestant-name.out::before {
            transition: left ease-out .3s, opacity linear .3s;
            opacity: 0;
        }

    #content #r1-contestant-roll {
        bottom: -11vw;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 10vh;
        transition: bottom ease-out .5s;
        transition-delay: .5s;
    }

        #content #r1-contestant-roll.in {
            bottom: 10vw;
        }

        #content #r1-contestant-roll.out {
            transition: bottom ease-in .2s;
            transition-delay: 0s;
        }

    #content #qa .qa {
        padding: .5em 1em;
        position: relative;
    }

        #content #qa .qa.question .decor {
            position: absolute;
            top: 0;
            left: .2em;
        }

        #content #qa .qa.answer .decor {
            position: absolute;
            top: 0;
            right: .2em;
        }

        #content #qa .qa.answer.invisible {
            opacity: 0;
        }

        #content #qa .qa .text {
            text-align: center;
        }

    #content #qa:not(.r4) {
        opacity: 1;
        transition: opacity linear .5s, transform ease-in .7s;
    }

        #content #qa:not(.r4) .qa {
            padding: .5em 1em;
        }

            #content #qa:not(.r4) .qa, #content #qa:not(.r4) .qa .text {
                transition: opacity linear .2s, transform cubic-bezier(0, .8, .5, 1.5) .4s;
            }

                #content #qa:not(.r4) .qa.question {
                    background: hsl(300, 100%, 25%);
                    box-shadow: inset .2em .2em 0 hsl(300, 100%, 40%);
                    margin: 0;
                    transform: scale(.1) rotate(-3deg);
                    opacity: 0;
                }

                    #content #qa:not(.r4) .qa.question .decor {
                        color: hsl(300, 100%, 30%);
                    }

                    #content #qa:not(.r4) .qa.question .text {
                        opacity: 0;
                        transform: scale(.1) rotate(10deg);
                        transition-delay: .2s;
                    }

                    #content #qa:not(.r4) .qa.question.in {
                        opacity: 1;
                        transform: rotate(1deg);
                    }

                        #content #qa:not(.r4) .qa.question.in .text {
                            opacity: 1;
                            transform: rotate(-2deg);
                        }

                #content #qa:not(.r4) .qa.answer {
                    margin: 1em 10vw 0;
                    opacity: 0;
                    transform: scale(.1) rotate(3deg);
                }

                    #content #qa:not(.r4) .qa.answer.correct {
                        background: hsl(120, 100%, 25%);
                        box-shadow: inset .2em .2em 0 hsl(120, 100%, 40%);
                    }

                        #content #qa:not(.r4) .qa.answer.correct .decor {
                            color: hsl(120, 100%, 30%);
                        }

                    #content #qa:not(.r4) .qa.answer.wrong {
                        background: hsl(0, 100%, 25%);
                        box-shadow: inset .2em .2em 0 hsl(0, 100%, 40%);
                    }

                        #content #qa:not(.r4) .qa.answer.wrong .decor {
                            color: hsl(0, 100%, 30%);
                        }

                    #content #qa:not(.r4) .qa.answer .text {
                        opacity: 0;
                        transform: scale(.1) rotate(-10deg);
                        transition-delay: .2s;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                    }

                        #content #qa:not(.r4) .qa.answer .text li {
                            margin: .1em;
                            opacity: 0;
                            transform: scale(.1) rotate(30deg);
                            transition: opacity linear .2s, transform cubic-bezier(0, .8, .5, 1.5) .3s;
                        }

                    #content #qa:not(.r4) .qa.answer.in .text li {
                        opacity: 1;
                        transform: none;
                    }

                    #content #qa:not(.r4) .qa.answer .text li .inner {
                        display: inline-block;
                        padding: 0 1em .2em;
                        transform: rotate(1deg);
                    }

                    #content #qa:not(.r4) .qa.answer .text li.sel > .inner {
                        border-radius: 100%;
                        background: rgba(255, 255, 0, .2);
                    }

                        #content #qa:not(.r4) .qa.answer .text li.sel > .inner::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 1em;
                            bottom: .2em;
                            right: 1em;
                            border-radius: 100%;
                            background: rgba(0, 0, 0, .2);
                            transform: rotate(-3deg);
                        }

                    #content #qa:not(.r4) .qa.answer .text li .inner .inner {
                        display: inline-block;
                        transform: rotate(-2deg);
                    }

                    #content #qa:not(.r4) .qa.answer.in {
                        opacity: 1;
                        transform: rotate(-1deg);
                    }

                        #content #qa:not(.r4) .qa.answer.in .text {
                            opacity: 1;
                            transform: rotate(2deg);
                        }

                #content #qa:not(.r4) .qa .text {
                    text-shadow: .07em .07em .07em rgba(0,0,0,.3);
                }

        #content #qa:not(.r4).out {
            opacity: 0;
            transform: scale(5);
        }

    #content .two-col {
        top: 0;
        left: 0;
        right: 0;
        transition: transform linear 1s, opacity linear 1s;
    }

        #content .two-col .col-1 {
            top: 0;
            left: 0;
            width: 50vw;
        }

        #content .two-col .col-2 {
            top: 0;
            right: 0;
            width: 50vw;
        }

        #content .two-col .col .two-col-elem {
            position: relative;
            transition: left ease-out 1s;
        }

        #content .two-col .col-1 .two-col-elem {
            left: -100vw;
        }

        #content .two-col .col-2 .two-col-elem {
            left: 100vw;
        }

        #content .two-col.in .two-col-elem {
            left: 0;
        }

        #content .two-col.out {
            opacity: 0;
            transform: scale(1.5);
        }

        #content .two-col .two-col-elem .name {
            transform-origin: left center;
        }

            #content .two-col .two-col-elem .name .inner {
                white-space: nowrap;
            }

    #content #r2-contestants.no-scores .score {
        display: none;
    }

    #content #r2-contestants:not(.no-scores) .r2-contestant {
        padding-right: 1.8em;
    }

    #content #r2-contestants .col-1 {
        padding: 5vh 2vw 5vh 5vw;
    }

    #content #r2-contestants .col-2 {
        padding: 5vh 5vw 5vh 2vw;
    }

    #content #r2-contestants .r2-contestant {
        color: white;
        border-bottom: .3vh solid orange;
        margin: .2em 0;
    }

        #content #r2-contestants .r2-contestant .score {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            border-radius: 50%;
            border: 2px solid orange;
            background: black;
            width: 1.5em;
            height: 1.2em;
            text-align: center;
            line-height: 1.1em;
        }

    #content #r2-cats .r2-cat {
        color: white;
        padding: .1em 1em .5em 1em;
        margin: .5em 0;
        background: hsl(220, 60%, 33.3%);
        box-shadow: inset -.05em -.15em 0 hsl(220, 60%, 25%);
        transition: left ease-out 1s, background ease-in-out .7s, box-shadow ease-in-out .7s, transform ease-out .7s, opacity linear .7s;
    }

        #content #r2-cats .r2-cat.all-used {
            opacity: .3;
        }

            #content #r2-cats .r2-cat.all-used .name {
                visibility: hidden;
            }

        #content #r2-cats .r2-cat.selected, #content #r2-cats.presenting .r2-cat.present {
            background: hsl(60, 100%, 30%);
            box-shadow: inset -.05em -.15em 0 hsl(60, 100%, 25%);
            transform: scale(1.1);
        }

    #content #r2-cats .col-1 {
        padding: 5vh 3vw 5vh 0;
    }

        #content #r2-cats .col-1 .r2-cat {
            border-top-right-radius: 10em;
            border-bottom-right-radius: 10em;
        }

            #content #r2-cats .col-1 .r2-cat.selected {
                transform-origin: left center;
            }

    #content #r2-cats .col-2 {
        padding: 5vh 0 5vh 3vw;
    }

        #content #r2-cats .col-2 .r2-cat {
            border-top-left-radius: 10em;
            border-bottom-left-radius: 10em;
        }

            #content #r2-cats .col-2 .r2-cat.selected {
                transform-origin: right center;
            }

    #content #r2-cats .r2-cat::before {
        content: '';
        position: absolute;
        top: .1em;
        left: .7em;
        right: .8em;
        height: .2em;
        background: hsl(220, 50%, 40%);
        border-radius: 2em;
        transition: background ease-in-out .7s;
    }

    #content #r2-cats .r2-cat.selected::before, #content #r2-cats.presenting .r2-cat.present::before {
        background: hsl(60, 100%, 35%);
    }

    #content #r2-cats .r2-cat::after {
        content: '';
        position: absolute;
        top: .7em;
        left: .2em;
        width: .5em;
        height: .5em;
        background: hsl(220, 50%, 50%);
        border-radius: 2em;
        transition: background ease-in-out .7s;
    }

    #content #r2-cats .r2-cat.selected::after, #content #r2-cats.presenting .r2-cat.present::after {
        background: hsl(60, 100%, 40%);
    }

    #content #r2-cats .r2-cat .useds {
        position: absolute;
        bottom: -.5em;
        right: .5em;
    }

        #content #r2-cats .r2-cat .useds .used {
            display: inline-block;
            margin-left: .5em;
            width: .7em;
            height: .7em;
            border-radius: .7em;
            background: hsl(220, 50%, 70%);
            transition: background ease-in-out .7s;
        }

    #content #r2-cats .r2-cat.selected .useds .used {
        background: hsl(60, 100%, 70%);
    }

    #content #r2-cats .r2-cat .useds .used.yes {
        background: hsla(220, 50%, 70%, .2);
    }

    #content #r2-cats .r2-cat.selected .useds .used.yes {
        background: hsla(60, 100%, 70%, .2);
    }

    #content #r2-cats.presenting .r2-cat.hidden {
        opacity: 0;
    }

    #content #r2-cats.presenting .col-1 .r2-cat.hidden {
        left: -100vw;
    }

    #content #r2-cats.presenting .col-2 .r2-cat.hidden {
        left: 100vw;
    }

    #content #r2-cats.presenting .r2-cat:not(.hidden):not(.present) {
        opacity: .5;
    }

    #content #r2-cats.presenting .r2-cat.present {
        transform: scale(2);
        z-index: 1;
    }

    #content #r2-cats.was-presenting:not(.presenting) .useds .used {
        transition: opacity linear .2s, transform cubic-bezier(0, .8, .5, 1.5) .4s;
    }

        #content #r2-cats.was-presenting:not(.presenting) .useds .used:nth-child(1) {
            transition-delay: 2s;
        }

        #content #r2-cats.was-presenting:not(.presenting) .useds .used:nth-child(2) {
            transition-delay: 3s;
        }

        #content #r2-cats.was-presenting:not(.presenting) .useds .used:nth-child(3) {
            transition-delay: 4s;
        }

        #content #r2-cats.was-presenting:not(.presenting) .useds .used:nth-child(4) {
            transition-delay: 5s;
        }

        #content #r2-cats.was-presenting:not(.presenting) .useds .used:nth-child(5) {
            transition-delay: 6s;
        }

    #content #r2-cats.presenting .useds .used {
        opacity: 0;
        transform: scale(.01);
    }

    #content .r3-display {
        top: 0;
        left: 0;
        right: 0;
    }

        #content .r3-display .contestant {
            background: #62d;
            padding: .0em 1em;
            margin: .4em 2em;
            border-radius: 3em;
            text-align: center;
            opacity: 0;
            transform: scale(.1);
            transition: opacity linear .1s, transform ease-out .3s;
        }

            #content .r3-display .contestant .inner {
                white-space: nowrap;
                transform-origin: 0 50%;
            }

            #content .r3-display .contestant.team-a {
                margin-left: 6em;
                margin-right: 1em;
                background: #d82;
            }

            #content .r3-display .contestant.team-b {
                margin-right: 6em;
                margin-left: 1em;
                background: #582;
            }

            #content .r3-display .contestant.team-a + .contestant.team-b {
                margin-top: .8em;
            }

        #content .r3-display.in .contestant {
            opacity: 1;
            transform: none;
        }

        #content .r3-display.out .contestant {
            opacity: 0;
            transform: scale(.1);
        }

        #content .r3-display .score-box {
            position: absolute;
            transition: left ease-out .4s, right ease-out .4s;
        }

            #content .r3-display .score-box.team-a {
                top: 0;
                left: -6em;
                width: 5em;
                bottom: 50%;
                background: #d82;
                transition-delay: .1s;
            }

        #content .r3-display.in .score-box.team-a {
            left: 0;
        }

        #content .r3-display .score-box.team-b {
            right: -6em;
            bottom: 0;
            width: 5em;
            top: 50%;
            background: #582;
            transition-delay: .5s;
        }

        #content .r3-display.in .score-box.team-b {
            right: 0;
        }

        #content .r3-display .score-box .score {
            position: absolute;
            font-size: 300%;
            text-align: center;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
        }

    #content #r3-set {
        top: 5%;
        right: 10%;
        left: 10%;
        bottom: 5%;
        border-radius: 100%;
        background: #008;
        opacity: 0;
        transform: scale(.1);
        transition: opacity linear .3s,transform ease-out .3s;
    }

        #content #r3-set.in {
            opacity: 1;
            transform: none;
        }

        #content #r3-set.out {
            opacity: 0;
        }

        #content #r3-set .name {
            padding: 0;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            text-align: center;
        }

    #content #r3-play {
        top: 0;
        left: 0;
        right: 0;
        transition: opacity linear .5s;
        border-spacing: 1em 0;
        width: 100%;
        table-layout: fixed;
    }

        #content #r3-play.out {
            opacity: 0;
        }

        #content #r3-play .ans {
            border-radius: 2em;
            background: #ba0;
            padding: .1em 1.5em;
            text-align: center;
            margin: .2em 0;
            overflow: hidden;
        }

        #content #r3-play td:first-child .ans {
            background: #3a0;
        }

        #content #r3-play .ans.invisible {
            visibility: hidden;
        }

        #content #r3-play .ans .answer .inner {
            white-space: nowrap;
        }

    #content #r3-bid {
        position: absolute;
        right: -50vw;
        bottom: 2vh;
        font-size: 20vh;
        width: 1.2em;
        height: 1.2em;
        border-radius: 50%;
        background: #d82;
        transition: right ease-in-out .7s;
        transition-delay: .2s;
    }

        #content #r3-bid.in {
            right: 3vw;
        }

        #content #r3-bid.out {
            right: -50vw;
        }

        #content #r3-bid .number {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    #content #r4-contestants {
        left: 0;
        right: 0;
        bottom: -50vh;
        text-align: center;
        transition: bottom ease-out 1s;
    }

        #content #r4-contestants.in {
            bottom: 0;
        }

        #content #r4-contestants.out {
            bottom: -50vh;
        }

        #content #r4-contestants table {
            empty-cells: show;
            display: inline-block;
            border-spacing: .25em .4em;
        }

            #content #r4-contestants table td {
                border: 2px solid rgba(255, 255, 255, .3);
                border-top: 2px solid rgba(0, 0, 0, .9);
                border-left: 2px solid rgba(0, 0, 0, .9);
                min-width: 1.3em;
                line-height: 1em;
                background: rgba(0, 0, 0, .7);
                background-clip: padding-box;
            }

                #content #r4-contestants table td:first-child {
                    text-align: right;
                    padding: .2em .5em;
                }

    #content #qa.r4 {
        padding: 0;
    }

        #content #qa.r4 .qa {
            padding: 5vh 10vw;
        }

            #content #qa.r4 .qa .text {
                padding: 5vh;
                transform: scale(1.01);
            }

            #content #qa.r4 .qa.question .decor {
                top: 5vh;
                left: 10vw;
                color: hsla(240, 70%, 10%, .3);
                text-shadow: .01em .01em 0 hsla(240, 70%, 80%, .3);
            }

            #content #qa.r4 .qa.answer .decor {
                top: 5vh;
                right: 15vw;
            }

            #content #qa.r4 .qa.answer.correct .decor {
                color: hsla(110, 70%, 10%, .3);
                text-shadow: .01em .01em 0 hsla(110, 70%, 80%, .3);
            }

            #content #qa.r4 .qa.answer.wrong .decor {
                color: hsla(0, 70%, 10%, .3);
                text-shadow: .01em .01em 0 hsla(0, 70%, 80%, .3);
            }

            #content #qa.r4 .qa.answer {
                padding: 5vh 15vw;
            }
